.pagination ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li a{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #fc5c7d;
}
.pagination li{
    border-radius: .25rem;
}
.pagination li {
    margin: 0.5%;
}
.pagination li a{
    color: #ffffff;
    text-decoration: none;
}
.pagination li.active a{
    background-color: #833041 !important;
}

.disabled a{
    background-color: #833041 !important;
}

.button-detail a{
    text-decoration: none !important;
    color: white;
}
.button-detail a:hover{
    text-decoration: none !important;
    color: white;
}

.style-table table {
    table-layout: fixed;
}
.style-table table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    vertical-align: middle;
}

.btn-t1-medium {
    padding: 3px 10px;
    font-size: 14px;
    background: #00C59A;
    border: 0;
    margin-top: 5px;
}

.btn-t1-medium:hover {
    background: #0da887;
}

.style-table a {
    color: #0da887;
}

.style-table a:hover {
    color: #0da887;
}

.style-table .pagination li a {
    background: #0da887!important;
}

.style-table .pagination li a:hover {
    color: #fff!important;
}

.style-table .pagination li.disabled a {
    background: #949494!important;
}