// Demo Pages
.ButtonPage {
  .btn {
    margin: 4px;
  }

  .btn-group {
    .btn {
      margin: 0;
    }
  }
}

.TablePage {
  .cr-page__header {
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    .h1{
      font-size: 28px!important;
    }
  }
  .card-body {
    overflow: hidden;
  }
}
